/* Global Styles */
:root {
    --primary-color: #D60000;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--light-color);
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: var(--dark-color);
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('https://myocardial.telekardiologi.com/img/banner/banner4.png') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 120px 100px 250px var(--light-color), inset -120px -100px 250px var(--light-color);
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
    padding: 0 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase-top img {
    width: 170px;
}

.showcase-top .login-button {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: solid 1px var(--primary-color);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.showcase-top .login-button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.showcase-content {
    position: relative;
    z-index: 2;
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    color: var(--dark-color);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.25;
    margin: 0 0 2rem;
    width: 30vw;
}

.showcase-content .start-button {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: solid 1px var(--primary-color);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    font-size: 20px;
}

.showcase-content .start-button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

/* Tabs */
.tabs {
    background: var(--light-color);
    padding-top: 1rem;
    border-bottom: 3px solid #818181;
    border-right: none;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    padding: 1.5rem 0;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.tabs .container>div:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
    padding: 3rem 0;
    background: var(--light-color);
    color: var(--dark-color);
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
    opacity: 0;
}

.show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.img-place {
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
}

.img-place img {
    width: 60%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.image-two {
    position: relative;
    transform: translate(200px, -350px);
    -webkit-transform: translate(200px, -350px);
    -moz-transform: translate(200px, -350px);
    -ms-transform: translate(200px, -350px);
    -o-transform: translate(200px, -350px);
}

.try-button {
    display: flex;
    align-items: center;
    width: 15%;
    height: 40px;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: solid 1px var(--primary-color);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.try-button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

#tab-2-content .tab-2-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
}


.consule-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: solid 1px var(--primary-color);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.consule-button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table tbody tr td {
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #222;
}

.footer {
    position: relative;
    bottom: 0;
    background-color: #070A52;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    padding: 50px 250px;
}

.footer-content img {
    width: 600px;
}

/* Container */
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text Styles */
.text-xl {
    font-size: 2rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
}

@media (max-width: 960px) {

    .showcase {
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
        text-transform: uppercase;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .text-md {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .showcase::after {
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
    }

    .showcase-content h1 {
        font-size: 2.5rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1rem;
    }

    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
    }

    .btn-xl {
        font-size: 1rem;
        padding: 1.2rem 1.6rem;
        text-transform: uppercase;
    }
}

@media(max-height: 600px) {
    .showcase-content {
        margin-top: 3rem;
    }
}